@font-face {
    font-family: 'Bentham';
    src: url('/fonts/Bentham-Regular.ttf')
}

* {
    padding: 0;
    margin: 0;
}

html {
    box-sizing: border-box;
}

body {
    background-color: #877e7e;
    color: #4d1515;
    font-family: 'Bentham', sans-serif;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    margin: 0;
}

header, footer, main {
    padding: .3em 1em;
    border-radius: .6em;
    margin: .13em .3em;
}

header, footer {
    flex: 0 auto;
    display: flex;
    align-items: center;
    background-color: #9dc1e7;
}

header {
    flex-direction: row;
    justify-content: start;
}

li:hover {
    background-color: rgb(215, 214, 214);
    border-radius: .2em;
}

footer {
    flex-direction: column;
    justify-content: center;
}

header > h1 {
    flex: 0 auto;
    font-size: 30px;
    text-align: center;
    padding-right: .6em;
}

header > span {
    width: 5px;
    height: 30px;
    border-radius: .2em;
    background-color: #4d1515;
}

header > nav {
    flex: 1;
}

header > nav > menu {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    align-items: center;
    justify-content: start;
    padding-left: 1em;
}

li {
    flex: 0 auto;
    padding:  0 .5em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

li > a {
    text-decoration: none;
    color: #4d1515;
}

main {
    flex: 1;
    background-color: #eae7e7
}

section#event {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 1em;
}

@media only screen and (max-width: 600px) {
    section#event {
        flex-direction: column;
    }
}

#main_pic {
    flex: 0;
    width: 300px;
    border: 4px solid #4d1515;
}

#info {
    margin-left: 1em;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#info > h2 {
    font-size: 38px;
    text-align: center;
    margin-bottom: 1em;
}

#info > h4 {
    font-size: 20px;
    text-align: center;
}

#info > a {
    font-size: 19px;
    color: #4d1515;
    
    font-weight: bolder;
}

#comments {
    clear: both;
}

#comments_old {
    width: 700px;
    max-width: 100%;
}





button {
    padding: 4px;
    border: none;
    background-color: #9dc1e7;
    color: #4d1515;
    cursor: pointer;
    border-radius: 3px;
}