@font-face {
    font-family: Bentham;
    src: url('fonts/Bentham-Regular.ttf')
}

html {
    box-sizing: border-box;
}

body {
    background-color: #877e7e;
    color: #4d1515;
    font-family: Bentham, serif;
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
}

header, footer, main {
    padding: 1em;
    border-radius: .6em;
    margin: .13em .3em;
}

header, footer {
    flex: 0 50px;
    display: flex;
    align-items: center;
    background-color: #9dc1e7;
}

header {
    flex-direction: row;
    justify-content: start;
}

li:hover {
    background-color: rgb(215, 214, 214);
}

footer {
    flex-direction: column;
    justify-content: center;
}

header > h1 {
    flex: 0 150px;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    font-size: 30px;
    padding-right: 4px;
    border-right: 4px solid #4d1515;
}

header > nav {
    flex: 1;
}

header > nav > menu {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    align-items: center;
    justify-content: start;
}

li {
    flex: 0 50px;
    padding:  0 7px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

li > a {
    text-decoration: none;
    color: #4d1515;
}


main {
    flex: 1;
    background-color: #eae7e7
}







button {
    padding: 4px;
    border: none;
    background-color: #9dc1e7;
    color: #4d1515;
    cursor: pointer;
    border-radius: 3px;
}