body {
    background-color: aquamarine;
    color: brown;
}

h1 {
    background-color: white;
    border: 2px dashed blue;
    border-radius: 3px;
    margin: 4px 8px;
    padding: 2px;
    height: auto;
    width: 180px;
    max-width: 40%;
    text-align: center;
    font-size: 26px;
    float: left;
    text-transform: uppercase;
    word-spacing: 3px;
}

h2 {
    background-color: yellow;
    color: black;
    border: 1px solid black;
    border-radius: 0.5px;
    margin: 3px;
    padding: 1px;
    width: 225px;
    max-width: 40%;
    text-align: center;
    float: right;
}

h3 {
    clear: both; /* this clears the float,
                    so this will be below*/
}

form {
    /*display: flex;
    flex-direction: column;*/
    align-items: center;
}
label {
    float: left;
    border: none;
    margin: 0px 3px;
}
input {
    margin-bottom: 10px;
    border: 1px solid black;
}

.pswd {
    margin-left: 3.4px;
}

button {
    clear: both;
    padding: 4px;
    border: none;
    background-color: #9dc1e7;
    color: #4d1515;
    cursor: pointer;
    border-radius: 3px;
}
button.submt {
    margin-left: 205px;
}

br {
    clear: both;
}
br.space {
    clear: both;
    height: 15px;
}
hr {
    clear: both;
    height: 2px;
    background-color: #9dc1e7;
}